# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/acceso-ui/dist
/acceso-ui/dist-server
/acceso-ui/tmp
/acceso-ui/out-tsc

# dependencies
/accedo-ui/node_modules

# IDEs and editors
/accedo-ui/.idea
/accedo-ui/.project
/accedo-ui/.classpath
/accedo-ui/.c9/
/accedo-ui/*.launch
/accedo-ui/.settings/
/accedo-ui/*.sublime-workspace

# IDE - VSCode
/accedo-ui/.vscode/*
/accedo-ui/!.vscode/settings.json
/accedo-ui/!.vscode/tasks.json
/accedo-ui/!.vscode/launch.json
/accedo-ui/!.vscode/extensions.json

# misc
/accedo-ui/.sass-cache
/accedo-ui/connect.lock
/accedo-ui/coverage
/accedo-ui/libpeerconnection.log
/accedo-ui/npm-debug.log
/accedo-ui/testem.log
/accedo-ui/typings

# e2e
/accedo-ui/e2e/*.js
/accedo-ui/e2e/*.map

# server in node js
acceso-server/node_modules
acceso-server/data/main.db

# System Files
.DS_Store
Thumbs.db
